#Setup

In [105]:
%run loaddata_v2.py

import pandas as pd
import numpy as np

Parsed 3728 movies from 3728 files
Parsed 4763 movies from 4767 files
{u'complete': True,
 'critic_review_negative': 1,
 'critic_review_neutral': 7,
 'critic_review_positive': 18,
 'critic_review_total': 26,
 u'director': u'Gil Junger',
 u'genre': [u'Comedy', u'Romance'],
 'genre_combined': u'Comedy_Romance',
 u'metacritic_page': u'/movie/10-things-i-hate-about-you',
 u'metascore': 70,
 u'num_critic_reviews': [18, 7, 1, 26],
 u'num_user_ratings': 175,
 u'num_user_reviews': [27, 1, 1, 29],
 u'rating': u'PG-13',
 u'release_date': u'1999-03-31',
 u'runtime_minutes': 97,
 u'studio': u'Buena Vista Pictures',
 u'title': u'10 THINGS I HATE ABOUT YOU',
 'user_review_negative': 1,
 'user_review_neutral': 1,
 'user_review_positive': 27,
 'user_review_total': 29,
 u'user_score': 7.0,
 u'year': 1999}
Counter({13: 3728})
Counter({24: 4763})

In [106]:
import seaborn

In [107]:
import collections
print collections.Counter([len(a.keys()) for a in mojo_movies])
print collections.Counter([len(a.keys()) for a in meta_movies])

Counter({13: 3728})
Counter({24: 4763})

In [108]:
mojo_movies_df = pd.DataFrame(mojo_movies)
colsFromMojo = mojo_movies_df.columns.values
print colsFromMojo

mojo_movies_df.dtypes

[u'alt_title' u'director' u'domestic_gross' u'mojo_slug'
 u'opening_per_theater' u'opening_weekend_take' u'production_budget'
 u'release_date_limited' u'release_date_wide' u'title' u'widest_release'
 u'worldwide_gross' u'year']

alt_title                object
director                 object
domestic_gross          float64
mojo_slug                object
opening_per_theater     float64
opening_weekend_take    float64
production_budget       float64
release_date_limited     object
release_date_wide        object
title                    object
widest_release          float64
worldwide_gross         float64
year                    float64
dtype: object

In [109]:
meta_movies_df = pd.DataFrame(meta_movies)
colsFromMets = meta_movies_df.columns.values
print colsFromMets

meta_movies_df.dtypes

[u'complete' 'critic_review_negative' 'critic_review_neutral'
 'critic_review_positive' 'critic_review_total' u'director' u'genre'
 'genre_combined' u'metacritic_page' u'metascore' u'num_critic_reviews'
 u'num_user_ratings' u'num_user_reviews' u'rating' u'release_date'
 u'runtime_minutes' u'studio' u'title' 'user_review_negative'
 'user_review_neutral' 'user_review_positive' 'user_review_total'
 u'user_score' u'year']

complete                     bool
critic_review_negative      int64
critic_review_neutral       int64
critic_review_positive      int64
critic_review_total         int64
director                   object
genre                      object
genre_combined             object
metacritic_page            object
metascore                 float64
num_critic_reviews         object
num_user_ratings          float64
num_user_reviews           object
rating                     object
release_date               object
runtime_minutes           float64
studio                     object
title                      object
user_review_negative        int64
user_review_neutral         int64
user_review_positive        int64
user_review_total           int64
user_score                 object
year                       object
dtype: object

In [110]:
mojo_movies_df['title']=mojo_movies_df['title'].apply(lambda x: x.strip())

In [111]:
meta_movies_df['title']=meta_movies_df['title'].apply(lambda x: x.strip())

In [112]:
print 'mojo shape: '+str(mojo_movies_df.shape)
print 'meta shape: '+str(meta_movies_df.shape)

combined = mojo_movies_df.merge(meta_movies_df, on='title', how='outer')
print 'combined_outer shape: '+str(combined.shape)

inner = mojo_movies_df.merge(meta_movies_df, on='title', how='inner')
print 'combined_inner shape: '+str(inner.shape)

mojo shape: (3728, 13)
meta shape: (4763, 24)
combined_outer shape: (5015, 36)
combined_inner shape: (3504, 36)

In [113]:
combined.drop('release_date_limited', 1).dropna().shape

(1147, 35)

In [114]:
combined.count(axis=0)

alt_title                 3755
director_x                2184
domestic_gross            3680
mojo_slug                 3755
opening_per_theater       3573
opening_weekend_take      3573
production_budget         1600
release_date_limited       296
release_date_wide         3745
title                     5015
widest_release            3601
worldwide_gross           2840
year_x                    3748
complete                  4764
critic_review_negative    4764
critic_review_neutral     4764
critic_review_positive    4764
critic_review_total       4764
director_y                4764
genre                     4764
genre_combined            4764
metacritic_page           4764
metascore                 4589
num_critic_reviews        4764
num_user_ratings          4482
num_user_reviews          4764
rating                    4764
release_date              4764
runtime_minutes           4669
studio                    4726
user_review_negative      4764
user_review_neutral       4764
user_review_positive      4764
user_review_total         4764
user_score                4764
year_y                    4764
dtype: int64

In [115]:
combined['genre'].fillna('z',inplace=True)


l = list(combined['genre'].values)
l = [i for i in l if i is not np.nan]
genres = list(set([item for sublist in l for item in sublist]))


def bool_to_num(bool_val):
    if bool_val==True:
        result = 1
    else:
        result = 0
    return result

for genre in genres:
    combined[genre]=0
    combined[genre]=combined['genre'].apply(lambda x: bool_to_num(genre in x))
combined.drop('z',axis=1,inplace=True)
combined.head()

,alt_title,director_x,domestic_gross,mojo_slug,opening_per_theater,opening_weekend_take,production_budget,release_date_limited,release_date_wide,title,...,Short,Drama,Action,Documentary,Musical,History,Sport,Family,Fantasy,Biography
0,"10,000 B.C. (2008)",Roland Emmerich,94784201,10000bc,10518,35867488,105000000,None,2008-03-07,10 000 B C,...,0,0,0,0,0,0,0,0,0,0
1,102 Dalmatians (2000),None,66957026,102dalmatians,7353,19883351,85000000,None,2000-11-22,102 DALMATIANS,...,0,0,0,0,0,0,0,1,0,0
2,10 Things I Hate About You (1999),None,38178166,10thingsihateaboutyou,3668,8330681,30000000,None,1999-03-31,10 THINGS I HATE ABOUT YOU,...,0,0,0,0,0,0,0,0,0,0
3,10 Years (2012),Jamie Linden,203373,10years,7569,22707,NaN,None,2012-09-14,10 YEARS,...,0,1,0,0,0,0,0,0,0,0
4,11 Flowers (2013),None,9213,11flowers,1758,3516,NaN,None,2013-02-22,11 FLOWERS,...,0,1,0,0,0,0,0,0,0,0

In [71]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="white")

df = combined.drop('release_date_limited', 1)._get_numeric_data().dropna()
df.head()

,domestic_gross,opening_per_theater,opening_weekend_take,production_budget,widest_release,worldwide_gross,year_x,metascore,num_user_ratings,runtime_minutes
1,66957026,7353,19883351,85000000,2704,183611771,2000,35,47,100
2,38178166,3668,8330681,30000000,2311,53478166,1999,70,175,97
6,18335230,2333,2136801,18000000,916,60738797,2010,82,518,94
9,57231747,6123,21054283,37000000,3453,96455697,2004,57,120,98
11,32698899,4452,10267756,160000000,2313,61698899,1999,42,37,102

In [72]:

g = sns.PairGrid(df, diag_sharey=False)
g.map_lower(sns.kdeplot, cmap="Blues_d")
g.map_upper(plt.scatter)
g.map_diag(sns.kdeplot, lw=3)

/Users/nwb066/anaconda/lib/python2.7/site-packages/matplotlib/axes/_axes.py:475: UserWarning: No labelled objects found. Use label='...' kwarg on individual plots.
  warnings.warn("No labelled objects found. "

In [2]:
import seaborn as sns
sns.set(style="darkgrid")

# Load the long-form example gammas dataset
gammas = sns.load_dataset("gammas")

# Plot the response with standard error
sns.tsplot(data=gammas, time="timepoint", unit="subject",
           condition="ROI", value="BOLD signal")

IOError: [Errno socket error] [Errno 60] Operation timed out

In [6]:
import pandas as pd
import numpy as np

In [23]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],columns=['one', 'two', 'three'])
df['five'] = df['one'] > 0
df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

        one       two     three   five
a  0.780308 -0.352702 -0.569449   True
b       NaN       NaN       NaN    NaN
c -0.157811 -0.418503  1.277888  False
d       NaN       NaN       NaN    NaN
e -2.532026  0.663107  1.421899  False
f  2.592143  1.800414  1.346228   True
g       NaN       NaN       NaN    NaN
h  1.040044 -0.180120 -0.358755   True

In [24]:


#print dict(df.median(numeric_only=True))

medians = dict(df.median(numeric_only=True))
for key in medians:
    df[key].fillna(medians[key])
    
df.head()

        one       two     three   five
a  0.780308 -0.352702 -0.569449   True
c -0.157811 -0.418503  1.277888  False
e -2.532026  0.663107  1.421899  False
f  2.592143  1.800414  1.346228   True
h  1.040044 -0.180120 -0.358755   True